<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<string>开心</string>
		<key>icon</key>
		<string>lvdouwa01</string>
		<key>moviename</key>
		<string>lvdouwa-01.mp4</string>
		<key>title</key>
		<string>请选择小青蛙过山车时的心情</string>
		<key>options</key>
		<array>
			<string>悲伤</string>
			<string>开心</string>
			<string>生气</string>
			<string>害怕</string>
			<string>惊讶</string>
			<string>厌恶</string>
			<string>中性</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>我会乖</string>
		<key>icon</key>
		<string>lvdouwa02</string>
		<key>moviename</key>
		<string>lvdouwa-02.mp4</string>
		<key>title</key>
		<string>妈妈要不给你买零食不给你买玩具，你会是乖宝宝吗</string>
		<key>options</key>
		<array>
			<string>生气</string>
			<string>我会乖</string>
			<string>胡闹</string>
			<string>调皮</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>开心</string>
		<key>icon</key>
		<string>《奇鲁鲁世界》-01</string>
		<key>moviename</key>
		<string>《奇鲁鲁世界》-01.mp4</string>
		<key>title</key>
		<string>请选择小朋友在视频最后的心情</string>
		<key>options</key>
		<array>
			<string>悲伤</string>
			<string>生气</string>
			<string>害怕</string>
			<string>惊讶</string>
			<string>开心</string>
			<string>厌恶</string>
			<string>中性</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>悲伤</string>
		<key>icon</key>
		<string>《奇鲁鲁世界》》-02</string>
		<key>moviename</key>
		<string>《奇鲁鲁世界》》-02.mp4</string>
		<key>title</key>
		<string>请选择小朋友在视频开始和结束时的心情</string>
		<key>options</key>
		<array>
			<string>高兴</string>
			<string>生气</string>
			<string>害怕</string>
			<string>惊讶</string>
			<string>厌恶</string>
			<string>悲伤</string>
			<string>中性</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>悲伤</string>
		<key>icon</key>
		<string>04</string>
		<key>moviename</key>
		<string>04.mp4</string>
		<key>title</key>
		<string>小朋友在动画片里开始和结束时的心情</string>
		<key>options</key>
		<array>
			<string>高兴</string>
			<string>生气</string>
			<string>害怕</string>
			<string>惊讶</string>
			<string>厌恶</string>
			<string>悲伤</string>
			<string>中性</string>
		</array>
	</dict>
	<dict>
		<key>answer</key>
		<string>第10张</string>
		<key>icon</key>
		<string>05</string>
		<key>moviename</key>
		<string>05.mp4</string>
		<key>title</key>
		<string>观看视频中“害怕”表情在第几张图片出现</string>
		<key>options</key>
		<array>
			<string>第10张</string>
			<string>第5张</string>
			<string>第2张</string>
			<string>第8张</string>
			<string>第12张</string>
		</array>
	</dict>
    
    <dict>
        <key>answer</key>
        <string>失落</string>
        <key>icon</key>
        <string>06</string>
        <key>moviename</key>
        <string>06.mp4</string>
        <key>title</key>
        <string>你看完这个动画，觉得动画里的人们心情是什么样的情绪</string>
        <key>options</key>
        <array>
            <string>高兴</string>
            <string>失落</string>
            <string>惊讶</string>
            <string>害怕</string>
            <string>生气</string>
        </array>
    </dict>
    <dict>
        <key>answer</key>
        <string>害怕</string>
        <key>icon</key>
        <string>08</string>
        <key>moviename</key>
        <string>08.mp4</string>
        <key>title</key>
        <string>动画里的小女孩的情绪是</string>
        <key>options</key>
        <array>
            <string>开心</string>
            <string>惊讶</string>
            <string>害怕</string>
            <string>生气</string>
            <string>愉快</string>
        </array>
    </dict>

<dict>
    <key>answer</key>
    <string>高兴</string>
    <key>icon</key>
    <string>Emotions</string>
    <key>moviename</key>
    <string>Emotions.mp4</string>
    <key>title</key>
    <string>观看动画，最后人们的心情是怎么样的</string>
    <key>options</key>
    <array>
        <string>高兴</string>
        <string>惊讶</string>
        <string>害怕</string>
        <string>生气</string>
        <string>不知道</string>
    </array>
</dict>


</array>
</plist>
