<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>answer</key>
        <string>开心</string>
        <key>icon</key>
        <string>男A_笑_1</string>
        <key>title</key>
        <string>这是一个开心的面孔</string>
        <key>options</key>
        <array>
            <string>开</string>
            <string>高</string>
            <string>心</string>
            <string>性</string>
            <string>笑</string>
            <string>大</string>
            <string>痛</string>
            <string>哭</string>
            <string>不</string>
            <string>一</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
        </array>
      
    </dict>
    
    <dict>
        <key>answer</key>
        <string>开心</string>
        <key>icon</key>
        <string>男A_笑_1_yanmei</string>
        <key>title</key>
        <string>这是开心的眼睛</string>
        <key>options</key>
        <array>
            <string>开</string>
            <string>高</string>
            <string>心</string>
            <string>性</string>
            <string>笑</string>
            <string>大</string>
            <string>痛</string>
            <string>哭</string>
            <string>不</string>
            <string>一</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
        </array>
    </dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>男A_笑_1_zui</string>
    <key>title</key>
    <string>这是开心的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>高</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>男A_悲_1</string>
    <key>title</key>
    <string>这是悲伤的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>男A_悲_1_yanmei</string>
    <key>title</key>
    <string>这是悲伤的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>男A_悲_1_zui</string>
    <key>title</key>
    <string>这是悲伤的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>男A_惊_1</string>
    <key>title</key>
    <string>这是惊讶的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>男A_惊_1_yanmei</string>
    <key>title</key>
    <string>这是惊讶的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>男A_惊_1_zui</string>
    <key>title</key>
    <string>这是惊讶的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>男A_怒_1</string>
    <key>title</key>
    <string>这是生气的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>男A_怒_1_yanmei</string>
    <key>title</key>
    <string>这是生气的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>男A_怒_1_zui</string>
    <key>title</key>
    <string>这是生气的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>男A_中性</string>
    <key>title</key>
    <string>这是中性的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>男A_中性_yanmei</string>
    <key>title</key>
    <string>这是中性表情的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>男A_中性_zui</string>
    <key>title</key>
    <string>这是中性表情的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

	<dict>
		<key>answer</key>
		<string>伤心</string>
		<key>icon</key>
		<string>bs01</string>
		<key>title</key>
		<string>哥哥不开心</string>
		<key>options</key>
		<array>
            <string>开</string>
            <string>高</string>
            <string>心</string>
            <string>性</string>
            <string>笑</string>
            <string>悲</string>
            <string>痛</string>
            <string>哭</string>
            <string>不</string>
            <string>一</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
         </array>
	</dict>
		<dict>
		<key>answer</key>
		<string>开心</string>
		<key>icon</key>
		<string>kxnh_01</string>
		<key>title</key>
		<string>这是个 _ _ 的小女孩</string>
		<key>options</key>
		<array>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
            <string>心</string>
            <string>性</string>
            <string>生</string>
            <string>悲</string>
            <string>开</string>
            <string>高</string>
            <string>痛</string>
            <string>哭</string>
            <string>气</string>
            <string>一</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
        </array>
	</dict>
	<dict>
		<key>answer</key>
		<string>大笑</string>
		<key>icon</key>
		<string>shuaige_01</string>
		<key>title</key>
		<string>帅哥收到花哈哈大笑</string>
		<key>options</key>
		<array>
            <string>高</string>
            <string>大</string>
            <string>笑</string>
            <string>气</string>
            <string>帅</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
			<string>哥</string>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
            <string>心</string>
            <string>性</string>
            <string>生</string>
            <string>哥</string>
            
		</array>
	</dict>
    
    <dict>
        <key>answer</key>
        <string>中性</string>
        <key>icon</key>
        <string>男B_中性</string>
        <key>title</key>
        <string>这是 _ _ 的面孔</string>
        <key>options</key>
        <array>
            <string>开</string>
            <string>悲</string>
            <string>心</string>
            <string>性</string>
            <string>笑</string>
            <string>大</string>
            <string>痛</string>
            <string>哭</string>
            <string>不</string>
            <string>一</string>
            <string>快</string>
            <string>乐</string>
            <string>惊</string>
            <string>男</string>
            <string>伤</string>
            <string>孩</string>
            <string>人</string>
            <string>女</string>
            <string>中</string>
            <string>兴</string>
            <string>苦</string>
        </array>
    </dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>男B_笑_1_yanmei</string>
    <key>title</key>
    <string>这是 _ _ 的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>man-smile</string>
    <key>title</key>
    <string>叔叔咧开嘴巴笑，他很 _ _</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>2D-smile-1.jpg</string>
    <key>title</key>
    <string>这是个 _ _ 的表情</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>2D-angry</string>
    <key>title</key>
    <string>这是个 _ _ 的表情</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>生</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>气</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>boy-smile-1</string>
    <key>title</key>
    <string>小男孩调皮的吐舌头，他很_ _</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>调</string>
        <string>皮</string>
        <string>惊</string>
        <string>怒</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>愤</string>
        <string>中</string>
        <string>二</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>男A_惊_1</string>
    <key>title</key>
    <string>这是 _ _ 的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>调</string>
        <string>皮</string>
        <string>惊</string>
        <string>怒</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>愤</string>
        <string>中</string>
        <string>二</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>男A_怒_2_zui</string>
    <key>title</key>
    <string>这是 _ _ 的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>调</string>
        <string>皮</string>
        <string>惊</string>
        <string>生</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>气</string>
        <string>中</string>
        <string>二</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>男B_悲_1_yanmei</string>
    <key>title</key>
    <string>这是 _ _ 的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>调</string>
        <string>皮</string>
        <string>惊</string>
        <string>生</string>
        <string>我</string>
        <string>孩</string>
        <string>人</string>
        <string>气</string>
        <string>中</string>
        <string>二</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>男F_笑_1_yanmei</string>
    <key>title</key>
    <string>这是 _ _ 的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>调</string>
        <string>皮</string>
        <string>惊</string>
        <string>生</string>
        <string>我</string>
        <string>孩</string>
        <string>人</string>
        <string>气</string>
        <string>中</string>
        <string>二</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>女A_笑_2</string>
    <key>title</key>
    <string>这是一个开心的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>高</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>女A_笑_2_yanmei</string>
    <key>title</key>
    <string>这是开心的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>高</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>女A_笑_2_zui</string>
    <key>title</key>
    <string>这是开心的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>高</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>女A_悲_1</string>
    <key>title</key>
    <string>这是悲伤的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>女A_悲_1_yanmei</string>
    <key>title</key>
    <string>这是悲伤的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>悲伤</string>
    <key>icon</key>
    <string>女A_悲_1_zui</string>
    <key>title</key>
    <string>这是悲伤的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>女A_惊_1</string>
    <key>title</key>
    <string>这是惊讶的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>女A_惊_1_yanmei</string>
    <key>title</key>
    <string>这是惊讶的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>女A_惊_1_zui</string>
    <key>title</key>
    <string>这是惊讶的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>女A_怒_1</string>
    <key>title</key>
    <string>这是生气的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>女A_怒_1_yanmei</string>
    <key>title</key>
    <string>这是生气的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>女A_惊_1_zui</string>
    <key>title</key>
    <string>这是生气的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>生</string>
        <string>气</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>女A_中性</string>
    <key>title</key>
    <string>这是中性的面孔</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>女A_中性_yanmei</string>
    <key>title</key>
    <string>这是中性表情的眼睛</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>女A_中性_zui</string>
    <key>title</key>
    <string>这是中性表情的嘴巴</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>girl-smile-2</string>
    <key>title</key>
    <string>小女孩欢快地跳起了舞</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>伤心</string>
    <key>icon</key>
    <string>girl-sad</string>
    <key>title</key>
    <string>今天作业写错了一道题</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>悲</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>大哭</string>
    <key>icon</key>
    <string>girl-sad-1</string>
    <key>title</key>
    <string>宝宝饿了，想吃东西</string>
    <key>options</key>
    <array>
        <string>开</string>
        <string>大</string>
        <string>心</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>兴</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>微笑</string>
    <key>icon</key>
    <string>girl-smile</string>
    <key>title</key>
    <string>姐姐嘴角扬起</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>不</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>女</string>
        <string>中</string>
        <string>我</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>害怕</string>
    <key>icon</key>
    <string>man-fear</string>
    <key>title</key>
    <string>叔叔看到了恐怖画面</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>中</string>
        <string>我</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>男E_惊_1_yanmei</string>
    <key>title</key>
    <string>这是 _ _ 眼睛</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>我</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>伤心</string>
    <key>icon</key>
    <string>女B_悲_2</string>
    <key>title</key>
    <string>这是 _ _ 面孔</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>


<dict>
    <key>answer</key>
    <string>伤心</string>
    <key>icon</key>
    <string>2D-sad-1</string>
    <key>title</key>
    <string>这是 _ _ 表情</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>快</string>
        <string>乐</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>boy-smile</string>
    <key>title</key>
    <string>这是 _ _ 表情</string>
    <key>options</key>
    <array>
        <string>你</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>男G_中性</string>
    <key>title</key>
    <string>这是 _ _ 表情</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>惊讶</string>
    <key>icon</key>
    <string>girl-surprise</string>
    <key>title</key>
    <string>姐姐睁大眼睛</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>中性</string>
    <key>icon</key>
    <string>girl-normal</string>
    <key>title</key>
    <string>这是 _ _ 表情</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>


<dict>
    <key>answer</key>
    <string>大笑</string>
    <key>icon</key>
    <string>man-smile</string>
    <key>title</key>
    <string>叔叔很开心</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>生气</string>
    <key>icon</key>
    <string>boy-sad</string>
    <key>title</key>
    <string>小男孩好像很生气</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>生</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>气</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>偷笑</string>
    <key>icon</key>
    <string>man-smile-3</string>
    <key>title</key>
    <string>叔叔捂住了嘴巴偷偷的笑</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>生</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>偷</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>气</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>开心</string>
    <key>icon</key>
    <string>girl-smile-1</string>
    <key>title</key>
    <string>小女孩收到了一朵小花</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>

<dict>
    <key>answer</key>
    <string>大笑</string>
    <key>icon</key>
    <string>boy-smile-2</string>
    <key>title</key>
    <string>小男孩咧开嘴</string>
    <key>options</key>
    <array>
        <string>中</string>
        <string>大</string>
        <string>微</string>
        <string>性</string>
        <string>笑</string>
        <string>大</string>
        <string>痛</string>
        <string>哭</string>
        <string>害</string>
        <string>一</string>
        <string>开</string>
        <string>他</string>
        <string>惊</string>
        <string>男</string>
        <string>伤</string>
        <string>孩</string>
        <string>人</string>
        <string>怕</string>
        <string>讶</string>
        <string>心</string>
        <string>苦</string>
    </array>
</dict>


</array>
</plist>
